@font-face {
  font-family: "Basquiat Font";
  src: url("../../assets/fonts/JEAN-MICHEL-BASQUIAT-FONT-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/RALEWAY/Raleway-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

.memory__headline {
  font-family: "Basquiat Font", sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.card {
  perspective: 800px;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #1d4d9f;
  border-radius: 7px;
}

.card-back {
  transform: rotateY(180deg);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
}

.moves-counter {
  text-align: center;
  font-family: "Basquiat Font", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.congrats-message {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Raleway";
}

.moves {
  font-family: Basquiat Font;
  font-size: 30px;
  color: #1d4d9f;
}

.restart-button {
  font-size: 20px;
  font-weight: bolder;
  font-family: Basquiat Font;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 190px;
}

.restart-button:after {
  content: "";
  background-color: #f08838;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.restart-button:hover:after {
  top: 0px;
  left: 0px;
}
