@font-face {
  font-family: "Basquiat Font";
  src: url("../../assets/fonts/JEAN-MICHEL-BASQUIAT-FONT-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.biography__headline {
  font-family: "Basquiat Font", sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

.timeline__wrapper {
  background-color: black;
  /* background-image: url("../../assets/images/backgrounds/timeline.png"); */
  border-radius: 5px;
  padding: 10px;
}

.timline__headline {
  font-family: "Basquiat Font";
  font-size: 30px;
  border-color: #f5f2a2;
  border-radius: 5px;
  /* padding: 10px; */
  color: #f5f2a2;
}

.timline__text {
  font-size: 16px;
  font-weight: bolder;
  background-color: #f5f2a2;
  border-radius: 5px;
  padding: 10px;
}
