@font-face {
  font-family: "Basquiat Font";
  src: url("../../assets/fonts/JEAN-MICHEL-BASQUIAT-FONT-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.exhibition__headline {
  font-family: "Basquiat Font", sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

.exhibition__map {
  /* border: 2px solid black; */
  box-shadow: 7px 7px 0px -2px #f1ec7a;
  /* border-style: groove; */
}

.location-wrapper {
  background-color: ;
}

.exhibition__location {
  font-family: "Basquiat Font", sans-serif;
  font-size: 20px;
}
